
#header {
  width: 100%;

}

#header .box-header {
  width: 90rem;
  height: 12rem;
  margin: 0 auto;
  padding: 0 6.250rem;
  display: flex;
}

#header .box-header .box-header-children {
  height: 8.063rem;
  margin-top: 2.125rem;
  display: flex;
}